.outterContainer{
    width: 100%;
    background-color: SlateGray;
    padding-left: 1rem;
    padding-right: 1rem;
}
.secondRow{
    height: 100%;
    
}

#upperJum{
    margin-top: 1rem;
    background-color: rgb(225, 245, 252);
    border:2px solid rgb(207, 207, 207);
    height: 20rem;
    padding-top: 2rem;
}
#bottomJum{
    background-color: rgb(225, 245, 252);
    border:2px solid rgb(207, 207, 207);
    height: 25rem;
}

.col-12{
    background-color: SlateGray;
    height: 100px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
}


.col-md-4{
    padding-top: 2.5rem;
    background-color: whitesmoke; 
    font-size: large;
    font-weight: bold;
    padding-left: 1.5rem;
}
.col-md-8{
    background-color: whitesmoke;
}

.input-group{
    padding-top: 1rem;
    width: 98%;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

/*unit toggle*/
.switch{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
#displayUnitSelection{
    padding-top: 10px;
    margin-bottom: 1px;
}

/*search button css*/
#city-submit {
    float: left;
    width: 2.5rem;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

#city-submit:hover{
    background: #0b7dda;
}

#city-buttons{

    padding-left: 1rem;
}

/*lower box*/
.forecastCon{
    overflow: hidden;
}

.forecastContent{
    
    display: block;
    width: 140px;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 20px;

}

/*unit buttons*/
#metric{
    width: 62px;
    height: 28px;
    padding: 1px;
}

#imperial{
    padding: 1px;
    width: 65px;
    height: 28px;
    margin-left: 10px;
}



/*footer*/
.footer{
    
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: whitesmoke;
    
}


#footer-images ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none
  }

.pull-left img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

.pull-center img{
    padding-top: 5px;
    padding-right: 20px;
    max-width: 35px;
    height: auto;
}

.pull-right img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

@media (max-width: 1190px) {
    .col-sm-4{
        font-size: 200px;
        padding-top: 2.5rem;
        background-color: whitesmoke; 
        font-size: large;
        font-weight: bold;
        padding-left: 1rem;
        }
    
    .col-sm-8{
            background-color: white;
        }

    .input-group{
        padding-top: 1.5rem;
        width: 50%;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

    #bottomJum{
        background-color: rgb(225, 245, 252);;
        border:2px solid rgb(207, 207, 207);
        height: 20rem;
    }
    
}

@media (min-width: 675px) {
    #bottomJum{
        height: 36rem;
    }
}
@media (max-width: 674px) {
    #bottomJum{
        height: 60rem;
    }
}



@media (max-width: 570px) {
    #bottomJum{
        height: 40rem;
    }

}