.outterContainer{
    width: 100%;
    
    padding-left: 1rem;
    padding-right: 1rem;
}
.secondRow{
    height: 100%;
    
}

.col-12{
    background-color: SlateGray;
    height: 100px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
}
.col-4{
    background-color: whitesmoke; 
    font-size: large;
    font-weight: bold;
}
.col-6{
    background-color: white;
}

.input-group{
    width: 98%;
}

/*search button css*/
#city-submit {
    float: left;
    width: 2.5rem;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

#city-submit:hover{
    background: #0b7dda;
}



/*footer*/
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: whitesmoke;
    
}


#footer-images ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none
  }

.pull-left img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

.pull-center img{
    padding-top: 5px;
    padding-right: 20px;
    max-width: 35px;
    height: auto;
}

.pull-right img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

@media (max-width: 510px) {
    .col-4{
        font-size: 200px;
    }
}