.outterContainer{
    width: 100%;
    background-color: SlateGray;
    padding-left: 1rem;
    padding-right: 1rem;
}
.secondRow{
    height: 100%;
    
}

.jumbotron{
    margin-top: 1rem;
    background-color: white;
    border:2px solid rgb(207, 207, 207);
    height: 20rem;
}
.buttomJum{
    background-color: white;
    border:2px solid rgb(207, 207, 207);
    height: 10rem;
}

.col-12{
    background-color: SlateGray;
    height: 100px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
}


.col-md-4{
    padding-top: 2.5rem;
    background-color: whitesmoke; 
    font-size: large;
    font-weight: bold;
    padding-left: 1rem;
}
.col-md-8{
    background-color: white;
}

.input-group{
    padding-top: 1.5rem;
    width: 98%;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

/*unit toggle*/
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  input.cmn-toggle-round + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 60px;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round + label:after {
    width: 15px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: 20px;
  }


/*search button css*/
#city-submit {
    float: left;
    width: 2.5rem;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

#city-submit:hover{
    background: #0b7dda;
}



/*footer*/
.footer{
    position: fixed;
    /*bottom: 0;*/
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: whitesmoke;
    
}


#footer-images ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none
  }

.pull-left img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

.pull-center img{
    padding-top: 5px;
    padding-right: 20px;
    max-width: 35px;
    height: auto;
}

.pull-right img{
    padding-top: 5px;
    padding-right: 15px;
    max-width: 35px;
    height: auto;
}

@media (max-width: 510px) {
    .col-sm-4{
        font-size: 200px;
        padding-top: 2.5rem;
        background-color: whitesmoke; 
        font-size: large;
        font-weight: bold;
        padding-left: 1rem;
        }
    
    .col-sm-8{
            background-color: white;
        }

    .input-group{
        padding-top: 1.5rem;
        width: 50%;
        padding-bottom: 3rem;
        padding-left: 1rem;
    }
    
}